/***************************************************************************************************************
||||||||||||||||||||||||||       MASTER STYLESHEET FOR RinBuild             ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||                TABLE OF CONTENT               |||||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************

01. Imported styles
02. Flaticon reset styles
03. Header styles
04. Mainmenu styles
05. Rev_slider_wrapper styles
66. Call to action area Style
07. Categories area style
08. Fact counter area style
09. Latest Blog area style
10. Latest blog area style 
11. Testimonial area style
12. Brand area style
13. Single service style
14. Pricing table area style
15. About page style
16. Account page style
17. 404 page style style
18. Blog page style
19. Blog single style
20. Contact page style

****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/



@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');


@import url('../fonts/gadugi.ttf');






/*==============================================
   Base Css
===============================================*/
*{
	margin:0px;
	padding:0px;
	border: none;
	outline: none;
	font-size: 100%;
    text-decoration: none;
}
html,
body { 
    height: 100%;
}
body {
    background: #2d004e;
    color: #64656a;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    font-family: 'gadugi', sans-serif;
    background-image: url(../images/log22.gif);
}

body::-webkit-scrollbar {
    width: 0.5em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(105, 0, 167, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    outline: 1px solid #410073;
    border-radius: 2px;
}



#chat-bg::-webkit-scrollbar {
    width: 0.2em;
}
   
#chat-bg::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(105, 0, 167, 0.3);
}
   
#chat-bg::-webkit-scrollbar-thumb {
    background-color: #6417a5;
    outline: 1px solid #410073;
    border-radius: 2px;
}

/* Top Menu - Start */

.top-menu {
    padding: 11px 0px 13px 0px;
    margin-left: 17px;
    display: flex;
    border-bottom: #330258 solid 1px;
    background: linear-gradient(0turn,#2d004e00, #3e036b);
    /*background-image: url(../images/details/menubg.png);*/
    background-repeat: no-repeat;
    width: 1895px;
}

.menu-pad {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    border-left: solid 11px #198bff;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    white-space: nowrap;
}

.menu-pad:hover {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    border-left: solid 11px #ffc919;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
}

.menu-icon {
    width: 64px;
    height: 35px;
    padding: 4px;
    margin-left: 6px;
    margin-right: 3px;
    pointer-events: none;
}

.menu-pad a {
    font-size: 13px;
    padding-left: 9px;
    line-height: 43px;
    color: #cae4ff;
    text-transform: uppercase;
    font-family: 'gadugi';
}


.menu-pad-g {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    white-space: nowrap;
}

.menu-pad-g:hover {
    margin-right: 13px;
    height: 43px;
    background: #52028f;
    border-radius: 7px;
    border: solid 1px #50008e;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    white-space: nowrap;
}

.menu-icon-g {
    width: 32px;
    height: 29px;
    padding: 7px;
    pointer-events: none;
}

.menu-icon-p {
    width: 29px;
    height: 19px;
    padding: 4px;
    margin-left: 5px;
    margin-top: 8px;
    pointer-events: none;
}

.menu-pad-g a {
    font-size: 13px;
    padding-left: 4px;
    line-height: 43px;
    color: #d8bdec;
    font-family: 'gadugi';
}

/* Top Menu - End */


/* Reg & Log - Start */

.reg-log {
    display: flex;
    border-left: solid 1px #430474;
    padding-left: 15px;
    height: 30px;
    margin: 8px;
}


.log {
    margin-right: 13px;
    height: 35px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    margin-top: -4px;
}

.log:hover {
    margin-right: 13px;
    height: 35px;
    border-radius: 7px;
    border: solid 1px #6705b3;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    margin-top: -4px;
}

.log:hover .log-modal {
    transition: 222ms;
    opacity: 1;
}

.reg:hover .reg-modal {
    transition: 222ms;
    opacity: 1;
}

.edit-prof:hover .ed-modal {
    transition: 222ms;
    opacity: 1;
}

.log-modal {
    background: #570596;
    width: 300px;
    height: 302px;
    opacity: 0;
    position: absolute;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid #6410b7;
    transition: 222ms;
    box-shadow: 0px 5px 9px 0px #0000001a;
}

.log-modal-log {
    margin-left: 50px;
    margin-top: 19px;
}

.log-modal-log input {
    height: 30px;
    width: 186px;
    outline: none;
    border: 1px solid #7f1fca;
    padding: 0 0px 0 15px;
    border-radius: 4px;
    font-size: 15px;
    background: #3b0069;
    color: #ffffff;
    font-family: 'gadugi';
    transition: 222ms;
    box-shadow: 0px 5px 7px 0px #00000033;
    margin-top: 8px;
}

.log-modal-log p {
    color: #faebff;
    font-size: 13px;
    font-family: 'gadugi';
    border-bottom: 1px solid #3e006f;
    padding-bottom: 5px;
    width: 100px;
}

.log-modal-log input:focus {
    transition: all 0.6s ease;
    border: 1px solid rgba(180, 114, 255, 0.8);
}

.log-modal-log input::placeholder {
    color: #ffffff;
}

.reg-modal {
    background: #570596;
    width: 300px;
    height: 400px;
    opacity: 0;
    position: absolute;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid #6410b7;
    transition: 222ms;
    box-shadow: 0px 5px 9px 0px #0000001a;
}

.reg-mod {
    background: #570596;
    width: 300px;
    position: absolute;
    margin-top: 50px;
    border-radius: 10px;
    border-top: 2px solid #1dfb76;
    transition: 222ms;
    box-shadow: 0px 5px 9px 0px #0000001a;
}

.reg-mod:hover {
    background: #570596;
    width: 300px;
    position: absolute;
    margin-top: 50px;
    border-radius: 10px;
    border-top: 2px solid #67fd67;
    transition: 222ms;
    box-shadow: 0px 5px 9px 0px #0000001a;
}

.reg-mod-aling {
    margin-left: 830px;
    padding-top: 220px;
}

.reg-modal-log {
    margin-left: 50px;
    margin-top: 19px;
}

.reg-modal-log input {
    height: 30px;
    width: 201px;
    outline: none;
    border: 1px solid #7f1fca;
    padding: 0 0px 0 15px;
    border-radius: 4px;
    font-size: 12px;
    background: #3b0069;
    color: #ffffff;
    font-family: 'gadugi';
    transition: 222ms;
    box-shadow: 0px 5px 7px 0px #00000033;
    margin-top: 8px;
}

.reg-modal-log p {
    color: #faebff;
    font-size: 13px;
    font-family: 'gadugi';
    border-bottom: 1px solid #3e006f;
    padding-bottom: 5px;
    width: 100px;
}

.reg-modal-log input:focus {
    transition: all 0.6s ease;
    border: 1px solid rgba(180, 114, 255, 0.8);
}

.reg-modal-log input::placeholder {
    color: #ffffff;
}


.ed-modal {
    background: #570596;
    width: 300px;
    height: 400px;
    opacity: 0;
    position: absolute;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid #6410b7;
    transition: 222ms;
    box-shadow: 0px 5px 9px 0px #0000001a;
    margin-left: -180px;
}

.ed-modal-log {
    margin-left: 50px;
    margin-top: 19px;
}

.ed-modal-log input {
    height: 30px;
    width: 186px;
    outline: none;
    border: 1px solid #7f1fca;
    padding: 0 0px 0 15px;
    border-radius: 4px;
    font-size: 15px;
    background: #3b0069;
    color: #ffffff;
    font-family: 'gadugi';
    transition: 222ms;
    box-shadow: 0px 5px 7px 0px #00000033;
    margin-top: 8px;
}

.ed-modal-log p {
    color: #faebff;
    font-size: 13px;
    font-family: 'gadugi';
    border-bottom: 1px solid #3e006f;
    padding-bottom: 5px;
    width: 100px;
}

.ed-modal-log input:focus {
    transition: all 0.6s ease;
    border: 1px solid rgba(180, 114, 255, 0.8);
}

.ed-modal-log input::placeholder {
    color: #ffffff;
}


.log-modal-log-login {
    margin-top: 23px;
    margin-left: 50px;
    background: #2591ff;
    border-radius: 6px;
    width: 110px;
    height: 38px;
    color: #ffffff;
    font-size: 15px;
    transition: 444ms;
    cursor: pointer;
    font-family: 'gadugi';
    font-weight: 400;
    border: solid 1px #00b5ff;
    box-shadow: 0px 5px 7px 0px #0000000f;
}

.log-modal-log-login:hover {
    margin-top: 23px;
    margin-left: 50px;
    background: #25a8ff;
    border-radius: 6px;
    width: 110px;
    height: 38px;
    color: #ffffff;
    font-size: 15px;
    transition: 444ms;
    cursor: pointer;
    font-family: 'gadugi';
    font-weight: 400;
    border: solid 1px #00b5ff;
    box-shadow: 0px 5px 7px 0px #0000000f;
}

.reg-modal-log-login {
    margin-top: 32px;
    margin-left: 50px;
    background: #2591ff;
    border-radius: 6px;
    width: 202px;
    height: 38px;
    color: #ffffff;
    font-size: 14.5px;
    transition: 444ms;
    cursor: pointer;
    font-family: 'gadugi';
    font-weight: 400;
    border: solid 1px #00b5ff;
    box-shadow: 0px 5px 7px 0px #0000000f;
    margin-bottom: 25px;
}

.reg-modal-log-login:hover {
    margin-top: 32px;
    margin-left: 50px;
    background: #2583ff;
    border-radius: 6px;
    width: 202px;
    height: 38px;
    color: #ffffff;
    font-size: 15px;
    transition: 444ms;
    cursor: pointer;
    font-family: 'gadugi';
    font-weight: 400;
    border: solid 1px #00b7ff;
    box-shadow: 0px 5px 7px 0px #0000000f;
    margin-bottom: 25px;
}

.log a {
    font-size: 13px;
    padding-left: 19px;
    line-height: 33px;
    color: #d8bdec;
    font-family: 'gadugi';
    cursor: pointer;
}

.log-icon {
    width: 32px;
    height: 29px;
    padding: 3px;
    margin-left: 5px;
    pointer-events: none;
}

.reg {
    margin-right: 13px;
    height: 35px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    margin-top: -4px;
}

.reg:hover {
    margin-right: 13px;
    height: 35px;
    border-radius: 7px;
    border: solid 1px #6705b3;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    margin-top: -4px;
}


.reg a {
    font-size: 13px;
    padding-left: 19px;
    line-height: 33px;
    color: #d8bdec;
    font-family: 'gadugi';
}

.reg-icon {
    width: 32px;
    height: 29px;
    padding: 3px;
    margin-left: 5px;
    pointer-events: none;
}

/* Reg & Log - End */


/* Down Menu - Start */

.down-menu {
    width: 100%;
}

.down-menu-aling {
    white-space: nowrap;
    width: 495px;
    margin-right: 13px;
    height: 43px;
    background: #45007a;
    border-radius: 7px;
    border: solid 1px #50008e;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    margin-top: 10px;
    margin-left: 17px;
}

.down-pad {
    display: flex;
    border-right: solid 1px #370d58;
    height: 25px;
    padding-right: 14px;
    margin-top: 9px;
}

.down-menu-icon {
    width: 32px;
    height: 29px;
    padding-left: 10px;
    padding-right: 5px;
    pointer-events: none;
    margin-top: -2px;
}

.down-pad a {
    font-size: 13px;
    line-height: 26px;
    color: #d8bdec;
    font-family: 'gadugi';
}

.down-pad:hover a {
    font-size: 13px;
    line-height: 26px;
    color: #e0c4f5;
    font-family: 'gadugi';
}

/* Down Menu - End */



/* Service Block - Start */

.service-block {
    width: 100%;
}

.service-block-aling {
    margin-top: 125px;
    margin-left: 15px;
    display: flex;
}

.block-s {
    width: 345px;
    height: 628px;
    text-align: center;
    margin-right: 33px;
    border-radius: 16px;
    background: linear-gradient(0.82turn, #2d004e, #340058);
    border-top: 2px solid #49008c;
    transition: 444ms;
}

.block-s:hover {
    width: 345px;
    height: 628px;
    text-align: center;
    margin-right: 33px;
    border-radius: 16px;
    background: linear-gradient(0.82turn, #2d004e, #320056);
    border-top: 2px solid #fa5f17;
    transition: 444ms;
}

.block-s p {
    margin-top: 35px;
    padding-bottom: 5px;
    font-size: 15px;
    color: #e0c4f5;
}

.service-1 {
    width: 210px;
    height: 39px;
    background: #35025c;
    border-radius: 7px;
    margin: auto;
    display: flex;
    margin-top: 10px;
    border: solid 1px #440572;
    box-shadow: 0px 5px 9px 0px #0000001a;
}

.service-1:hover {
    width: 210px;
    height: 39px;
    background: #3e036b;
    border-radius: 7px;
    margin: auto;
    display: flex;
    margin-top: 10px;
    border: solid 1px #440572;
    box-shadow: 0px 5px 9px 0px #0000001a;
}

.service-1 a {
    font-size: 13px;
    line-height: 37px;
    color: #e0c4f5;
    padding-left: 19px;
    font-family: 'gadugi';
}

.service-icon {
    width: 32px;
    height: 29px;
    padding-left: 65px;
    padding-right: 5px;
    pointer-events: none;
    margin-top: 5px;
}

.game-bg {
    width: 346px;
    height: 469px;
    margin-left: -1px;
    pointer-events: none;
}

/* Service Block - End */

/* Features Title - Start */

.features {
    width: 100%;
    background-image: url(../images/details/anbg.gif);
}

.features-title {
    justify-content: center;
    margin-top: 200px;
}

.features-title p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-family: 'gadugi';
}

.features-title-2 {
    justify-content: center;
    margin-top: 100px;
    margin-left: 20px;
}

.features-title-2 p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-family: 'gadugi';
}

.features-title-aling {
    width: 100%;
}

.features-title-slog {
    display: flex;
    justify-content: center;
    width: 700px;
    padding-bottom: 15px;
    border-bottom: solid 1px #34005a;
    margin-left: 595px;
}

.features-ico {
    padding-right: 5px;
}



/* Features Block  */

.features-blocks-ico {
    width: 32px;
    height: 45px;
    margin-right: 10px;
    pointer-events: none;
}

.features-blocks-ico-2 {
    width: 32px;
    height: 45px;
    margin-left: 10px;
    pointer-events: none;
}

.features-pack-block {
    display: flex;
    margin-right: 220px;
}

.features-blocks {
    margin-top: 75px;
    margin-left: 280px;
    display: flex;
}

.features-block {
    width: 471px;
    border-radius: 16px;
    background: #3f036a;
    padding: 25px;
    box-shadow: 0px 5px 9px 0px #0000001a;
    position: relative;
}

.features-ico {
    width: 32px;
    height: 29px;
    pointer-events: none;
}

.features-block h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'gadugi';
}

.features-block p {
    margin-top: 20px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'gadugi';
    line-height: 20px;
    border-bottom: 1px solid #5d1194;
    padding-bottom: 22px;
}

/* Features Title - End */


/* Comment Block - Start */

.comm-blocks {
    width: 100%;
}

.comm-blocks-aling {
    width: 1900px;
}

.comm-blocks-center {
    justify-content: center;
    display: flex;
}

.comm {
    margin-top: 180px;
    position: absolute;
}

.comm h2 {
    font-size: 16px;
    color: #ffffff;
    font-family: 'gadugi';
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
}

.comm-block {
    margin-top: 15px;
    width: 300px;
    height: 100px;
    border-radius: 14px;
    background: #530d86;
    display: flex;
}

.comm-text-block {
    margin-top: 10px;
}

.comm-text-block p {
    width: 100%;
    font-size: 14px;
    font-family: 'gadugi';
    color: white;
    line-height: 14px;
}

.comm-ico {
    width: 32px;
    height: 29px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    pointer-events: none;
}

.comm-name {
    width: 90%;
    display: flex;
}

.comm-name h3 {
    font-size: 15px;
    color: #f5cfff;
    font-family: 'gadugi';
    font-weight: 600;
}

.comm-name p {
    margin-top: 8px;
    margin-left: 6px;
    font-size: 13px;
    color: #ffffff;
    font-family: 'gadugi';
    font-weight: 400;
}

.logo-com {
    width: 374px;
    height: 508px;
    pointer-events: none;
    position: relative;
}

.logo-com2 {
    width: 374px;
    height: 508px;
    pointer-events: none;
    margin-left: -36px;
    margin-top: 9px;
}

.more-comm {
    margin-top: 80px;
    margin-left: 46.1%;
    background: #530d86;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    color: #ffffff;
    font-size: 14px;
    transition: 444ms;
    cursor: pointer;
    font-family: 'gadugi';
    font-weight: 400;
    border: solid 1px #7b13c7;
}

.more-comm:hover {
    margin-top: 80px;
    margin-left: 46.1%;
    background: #6813a5;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    color: #ffffff;
    font-size: 14px;
    transition: 444ms;
    cursor: pointer;
    font-family: 'gadugi';
    font-weight: 400;
}

/* Comment Block - End */


/* Boost Block - Start */

.boosting-info {
    width: 100%;
}

.boosting-title {
    width: 50%;
    display: flex;
    border-bottom: solid 1px #34005a;
    padding-bottom: 15px;
    justify-content: center;
    margin-left: 475px;
    margin-top: 100px;
}


.boosting-title p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-family: 'gadugi';
}

.boosting-blocks-ico {
    width: 32px;
    height: 45px;
    margin-right: 10px;
    pointer-events: none;
}

.boosting-blocks-ico-2 {
    width: 32px;
    height: 45px;
    margin-left: 10px;
    pointer-events: none;
}

.boosting-pack-block {
    display: flex;
    margin-right: 90px;
}

.boosting-blocks {
    margin-top: 75px;
    margin-left: 60px;
    display: flex;
}

.boosting-block {
    width: 445px;
    border-radius: 16px;
    background: #3f036a;
    padding: 25px;
    box-shadow: 0px 5px 9px 0px #0000001a;
}

.boosting-ico {
    pointer-events: none;
}

.boosting-ico-2 {
    width: 32px;
    height: 29px;
    pointer-events: none;
}

.boosting-block h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'gadugi';
}

.boosting-block p {
    margin-top: 14px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'gadugi';
    line-height: 18px;
    border-bottom: 1px solid #5d1194;
    padding-bottom: 22px;
}

/* Boost Block - End */


/* More Info Block - Start */

.more-info {
    text-align: center;
}

.more-info-text-block {
    margin-left: 400px;
    width: 60%;
}

.more-info-text-block h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'gadugi';
    margin-top: 30px;
}

.more-info-text-block p {
    color: #ffffff;
    font-size: 17px;
    font-family: 'gadugi';
    margin-top: 20px;
}

.more-info-text-block h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'gadugi';
    margin-top: 60px;
}

.detico {
    width: 106px;
    height: 106px;
    margin-left: 140px;
    margin-top: 100px;
}

.block-info {
    display: flex;
    margin-left: 220px;
}

.b-info-1 {
    width: 410px;
    height: 142px;
    margin-left: 150px;
    margin-top: 50px;
}

.b-info-1 p {
    width: 410px;
    color: #ffffff;
    font-size: 13px;
    font-family: 'gadugi';
    margin-top: 20px;
    text-align: left;
    line-height: 18px;
    position: absolute;
}

.textbg {
    width: 482px;
    height: 62px;
    margin-top: 90px;
    margin-left: -20px;
}

.more-info-text-block-2 {
    margin-left: 425px;
    width: 58%;
    padding-bottom: 160px;
}

.more-info-text-block-2 p {
    color: #ffffff;
    font-size: 17px;
    font-family: 'gadugi';
    margin-top: 110px;
    line-height: 20px;
}

/* More Info Block - Start */

/* Footer - Start */

.footer {
    width: 100%;
}

.footer-aling {
    width: 100%;
    min-width: 1912px;
    height: 505px;
    background: #330058;
    border-top: solid 2px #f27c1d;
    background-image: url(../images/details/footerbg.png);
    background-repeat: no-repeat;
    display: flex;
}

.footer-logo {
    pointer-events: none;
}

.footer-block-1 {
    padding: 25px;
    padding-left: 100px;
}

.footer-pay {
    display: flex;
}

.footer-pay p {
    color: #ffffff;
    font-size: 17px;
    font-family: 'gadugi';
    margin-left: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.pay-ico-block {
    border-right: 1px solid #4d395c;
    padding-right: 10px;
    padding-left: 10px;
    height: 20px;
    margin-top: 2px;
}

.pay-ico {
    width: 30px;
    height: 30px;
    margin-top: -5px;
}

.footer-input {
    margin-top: 20px;
    margin-left: 17px;
    display: flex;
}

.input-ico {
    width: 100px;
    height: 40px;
    background: #410073;
    border-top: 1px solid #50008e;
    border-bottom: 1px solid #50008e;
    border-right: 1px solid #50008e;
    border-radius: 0px 7px 7px 0px;
}

.inputpng {
    margin-top: 6px;
    margin-left: 10px;
}

.input-data {
    height: 40px;
    width: 280px;
    position: relative;
    display: flex;
    margin-top: 6px;
}

.input-data input {
    height: 100%;
    width: 100%;
    outline: none;
    border-top: 1px solid #50008e;
    border-bottom: 1px solid #50008e;
    border-left: 1px solid #50008e;
    padding: 0 80px 0 15px;
    border-radius: 7px 0px 0px 7px;
    font-size: 15px;
    background: #410073;
    color: #bdbdbd;
    font-family: 'gadugi';
}

.input-data input:focus {
    border-color: rgba(180, 114, 255, 0.8);
    transition: all 0.6s ease;
}

.input-data input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}

.input-data input::placeholder {
    color: #bdbdbd;
}

.input-data input:focus::placeholder {
    color: #999999;
    transition: all 0.3s ease;
}


.input-data-2 {
    width: 580px;
    height: 140px;
    position: relative;
    display: flex;
    margin-top: 20px;
}

.input-data-2 input {
    height: 100%;
    width: 100%;
    outline: none;
    border-top: 1px solid #50008e;
    border-bottom: 1px solid #50008e;
    border-left: 1px solid #50008e;
    padding: 0 80px 0 15px;
    border-radius: 7px 0px 0px 7px;
    font-size: 15px;
    background: #410073;
    color: #bdbdbd;
    font-family: 'gadugi';
}

.input-data-2 input:focus {
    border-color: rgba(180, 114, 255, 0.8);
    transition: all 0.6s ease;
}

.input-data-2 input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}

.input-data-2 input::placeholder {
    color: #bdbdbd;
}

.input-data-2 input:focus::placeholder {
    color: #999999;
    transition: all 0.3s ease;
}


.input-data-2 {
    width: 580px;
    height: 120px;
    position: relative;
    display: flex;
    margin-top: 20px;
}

.input-data-2 textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border-top: 1px solid #50008e;
    border-bottom: 1px solid #50008e;
    border-left: 1px solid #50008e;
    padding: 11px 80px 0 15px;
    border-radius: 7px;
    font-size: 13px;
    background: #410073;
    color: #ffffff;
    font-family: 'gadugi';
    resize: none;
    box-shadow: 0px 5px 9px 0px #0000001a;
}

.input-data-2 textarea:focus {
    border-color: rgba(180, 114, 255, 0.8);
    transition: all 0.6s ease;
}

.input-data-2 textarea:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}

.input-data-2 textarea::placeholder {
    color: #b977ea;
}

.input-data-2 textarea:focus::placeholder {
    color: #b977ea;
    transition: all 0.3s ease;
}

#send-btn {
    width: 125px;
    height: 36px;
    margin-top: 32px;
    margin-left: 17px;
    font-size: 12px;
    background: #410073;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 1px solid #50008e;
    color: #83dbff;
    cursor: pointer;
    transition: 444ms;
}

#send-btn:hover {
    width: 125px;
    height: 36px;
    margin-top: 32px;
    margin-left: 17px;
    font-size: 12px;
    background: #4c0086;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 1px solid #50008e;
    color: #83dbff;
    cursor: pointer;
    transition: 444ms;
}

.footer-menu {
    height: 300px;
    border-left: 1px solid #2b004b;
    padding-left: 50px;
    margin-top: 150px;
    margin-left: 100px;
    display: flex;
}

.footer-menu-block {
    width: 200px;
    display: grid;
}

.footer-menu-block h2 {
    font-size: 14px;
    font-family: 'gadugi';
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-menu-block a {
    line-height: 18px;
    font-size: 14px;
    font-family: 'gadugi';
    color: #ff924a;
}

.footer-menu-block a:hover {
    line-height: 18px;
    font-size: 14px;
    font-family: 'gadugi';
    color: #ffac74;
}

.footer-menu-block-2 {
    width: 200px;
    display: grid;
}

.footer-menu-block-2 h2 {
    font-size: 14px;
    font-family: 'gadugi';
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-menu-block-2 a {
    margin-top: -24px;
    line-height: 5px;
    font-size: 14px;
    font-family: 'gadugi';
    color: #ff924a;
}

.footer-menu-block-2 a:hover  {
    margin-top: -24px;
    line-height: 5px;
    font-size: 14px;
    font-family: 'gadugi';
    color: #ffac74;
}


.footer-menu-block-3 {
    width: 337px;
    display: grid;
}

.footer-menu-block-3 h2 {
    font-size: 14px;
    font-family: 'gadugi';
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-menu-block-3 a {
    margin-top: 154px;
    line-height: 18px;
    font-size: 14px;
    font-family: 'gadugi';
    color: #ffffff;
}


/* Profile - Start  */



.profile {
    width: 100%;
}

.profile-avatar {
    width: 66px;
    height: 64px;
    background: #6b20a2;
    border-radius: 6px;
    box-shadow: -1px 11px 15px 1px #0000003b;
    margin-right: 40px;
    text-align: center;
}

.profile-avatar-2 {
    width: 72px;
    height: 70px;
    background: #6b20a2;
    border-radius: 46px;
    box-shadow: -1px 11px 15px 1px #0000003b;
    text-align: center;
    margin-right: 40px;
    margin-top: -3px;
}

.profile-ava {
    margin-top: 10px;
    pointer-events: none;
}

.profile-ava-2 {
    width: 70px;
    height: 71px;
    pointer-events: none;
}

.profile-ava-3 {
    width: 67px;
    height: 68px;
}

.profile-aling {
    width: 100%;
    min-width: 1912px;
    height: 178px;
    background: #330058;
    border-top: solid 4px #f27c1d;
    background-image: url(../images/details/footerbg.png);
    background-repeat: no-repeat;
    display: flex;
    border-bottom: solid 1px rgb(72 0 115 / 35%);
}

.profile-avatar-aling {
    margin-top: 15px;
}

.profile-block-1 {
    margin-top: 25px;
    padding-left: 100px;
}

.profile-menu {
    height: 100px;
    border-left: 1px solid #2b004b;
    padding-left: 50px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
}

.profile-menu-block {
    border-bottom: 1px solid #6b20a2;
    height: 60px;
    margin-top: 19px;
}

.profile-menu-block h2 {
    font-size: 14px;
    font-family: 'gadugi';
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 15px;
}

.profile-menu-block a {
    line-height: 18px;
    font-size: 14px;
    font-family: 'gadugi';
    color: #ff924a;
}

.profile-menu-block a:hover {
    line-height: 18px;
    font-size: 14px;
    font-family: 'gadugi';
    color: #ffac74;
}

.balance-menu-block {
    border-bottom: 1px solid #6b20a2;
    height: 60px;
    margin-top: 19px;
}

.balance-menu-block h2 {
    font-size: 14px;
    font-family: 'gadugi';
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 15px;
}

.blance-available-aling {
    display: flex;
}

.balance-available {
    margin-right: 15px;
}

.balance-available p {
    line-height: 15px;
    font-size: 14px;
    font-family: 'gadugi';
    color: #84ff93;
    border-right: 1px solid rgb(105 0 167 / 35%);
    padding-right: 15px;
    height: 15px;
    margin-top: 7px;
}

.balance-available-2 {
    margin-right: 15px;
}

.balance-available-2 p {
    line-height: 15px;
    font-size: 14px;
    font-family: 'gadugi';
    color: #ff8484;
    border-right: 1px solid rgb(105 0 167 / 35%);
    padding-right: 15px;
    height: 15px;
    margin-top: 7px;
}

.balance-available-4 {
    margin-right: 15px;
}

.balance-available-4 p {
    line-height: 15px;
    font-size: 14px;
    font-family: 'gadugi';
    color: #ffb342;
    border-right: 1px solid rgb(105 0 167 / 35%);
    padding-right: 15px;
    height: 15px;
    margin-top: 7px;
}

.balance-available-3 {
    margin-right: 15px;
}

.balance-available-3 p {
    line-height: 15px;
    font-size: 14px;
    font-family: 'gadugi';
    color: #84b0ff;
    border-right: 1px solid rgb(105 0 167 / 35%);
    padding-right: 15px;
    height: 15px;
    margin-top: 7px;
}


/* Out & Edit - Start */

.out-edit {
    display: flex;
    border-left: solid 1px #430474;
    padding-left: 15px;
    height: 30px;
    margin-top: 33px;
    margin-left: 424px;
}


.out {
    margin-right: 13px;
    height: 35px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    margin-top: -4px;
}

.out:hover {
    margin-right: 13px;
    height: 35px;
    background: #45007a;
    border-radius: 7px;
    border: solid 1px #50008e;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    margin-top: -4px;
}

.out a {
    font-size: 13px;
    padding-left: 19px;
    line-height: 33px;
    color: #d8bdec;
    font-family: 'gadugi';
}

.out-icon {
    width: 32px;
    height: 29px;
    padding: 3px;
    margin-left: 5px;
    pointer-events: none;
}

.edit-prof {
    margin-right: 13px;
    height: 35px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    margin-top: -4px;
}

.edit-prof:hover {
    margin-right: 13px;
    height: 35px;
    background: #45007a;
    border-radius: 7px;
    border: solid 1px #50008e;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    margin-top: -4px;
}


.edit-prof a {
    font-size: 13px;
    padding-left: 19px;
    line-height: 33px;
    color: #d8bdec;
    font-family: 'gadugi';
}

.edit-prof-icon {
    width: 32px;
    height: 29px;
    padding: 3px;
    margin-left: 5px;
    pointer-events: none;
}

/* Out & Edit - End */


/* Order List - Start */

.order-list {
    width: 100%;
}

.order-list-menu {
    margin-top: 100px;
    margin-bottom: 40px;
}

.order-list-margin {
    margin-bottom: 150px;
}

.order-list-menu-aling {
    margin-left: 120px;
    display: flex;
}

.order-pad {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    border-left: solid 2px #ffc919;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    white-space: nowrap;
}

.order-pad:hover {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    border-left: solid 11px #ffc919;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
}

.order-icon {
    width: 64px;
    height: 35px;
    padding: 4px;
    margin-left: 6px;
    margin-right: 3px;
    pointer-events: none;
}

.order-pad a {
    font-size: 13px;
    padding-left: 8px;
    padding-right: 12px;
    line-height: 43px;
    color: #cae4ff;
    text-transform: uppercase;
    font-family: 'gadugi';
}

.order-pad-4 a {
    font-size: 13px;
    padding-left: 8px;
    padding-right: 12px;
    line-height: 43px;
    color: #cae4ff;
    text-transform: uppercase;
    font-family: 'gadugi';
}

.order-pad-2 {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    border-left: solid 2px #19b9ff;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    white-space: nowrap;
}

.order-pad-2:hover {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    border-left: solid 11px #ffd95b;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
}

.order-pad-4 {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    border-left: solid 2px #19beff;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    white-space: nowrap;
}

.order-pad-4:hover {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    border-left: solid 11px #3af8ff;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
}

.order-pad-3 {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    border-left: solid 2px #19ff71;
    border-right: solid 2px #19ff71;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    white-space: nowrap;
}

.order-pad-3:hover {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    border-left: solid 11px #38ff84;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
}

.order-pad-3 a {
    font-size: 13px;
    padding-left: 8px;
    padding-right: 12px;
    line-height: 43px;
    color: #cae4ff;
    text-transform: uppercase;
    font-family: 'gadugi';
}

.order-pad-5 {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    border-left: solid 2px #ff924a;
    border-right: solid 2px #ff924a;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
    white-space: nowrap;
}

.order-pad-5:hover {
    margin-right: 13px;
    height: 43px;
    background: #410073;
    border-radius: 7px;
    border: solid 1px #50008e;
    border-left: solid 11px #ff997a;
    display: flex;
    box-shadow: 0px 5px 9px 0px #0000001a;
    transition: 444ms;
}

.order-pad-5 a {
    font-size: 13px;
    padding-left: 8px;
    padding-right: 12px;
    line-height: 43px;
    color: #cae4ff;
    text-transform: uppercase;
    font-family: 'gadugi';
}

.order-icon {
    width: 64px;
    height: 35px;
    padding: 4px;
    margin-left: 6px;
    margin-right: 3px;
    pointer-events: none;
}

.order-pad-2 a {
    font-size: 13px;
    padding-left: 8px;
    padding-right: 12px;
    line-height: 43px;
    color: #cae4ff;
    text-transform: uppercase;
    font-family: 'gadugi';
}

.order-title {
    width: 950px;
    margin-top: 47px;
    margin-left: 120px;
    border-bottom: 1px solid red;
    padding-bottom: 10px;
}

.order-title h1 {
    color: white;
    font-family: 'gadugi';
}

.order-list-blocks {
    width: 1100px;
    height: 43px;
    margin-left: 120px;
    background: #4b0b7a;
    border-radius: 4px;
    margin-bottom: 11px;
    display: flex;
    white-space: nowrap;
    transition: 444ms;
}

.order-list-blocks:hover {
    width: 1100px;
    height: 43px;
    margin-left: 120px;
    background: #4b0b7a;
    border-radius: 4px;
    margin-bottom: 11px;
    display: flex;
    white-space: nowrap;
    transition: 444ms;
}

.order-list-blocks-2 {
    width: 1100px;
    height: 43px;
    margin-left: 120px;
    background: #4b0b7a;
    border-radius: 4px;
    margin-bottom: 11px;
    display: flex;
    white-space: nowrap;
    border-right: 3px solid #dadada;
    transition: 444ms;
}

.order-list-blocks-2:hover {
    width: 1100px;
    height: 43px;
    margin-left: 120px;
    background: #4b0b7a;
    border-radius: 4px;
    margin-bottom: 11px;
    display: flex;
    white-space: nowrap;
    transition: 444ms;
}

.order-list-blocks-3 {
    width: 1100px;
    height: 43px;
    margin-left: 120px;
    background: #4b0b7a;
    border-radius: 4px;
    margin-bottom: 11px;
    display: flex;
    white-space: nowrap;
    border-right: 3px solid #ff3100;
    transition: 444ms;
}

.order-list-blocks-3:hover {
    width: 1100px;
    height: 43px;
    margin-left: 120px;
    background: #4b0b7a;
    border-radius: 4px;
    margin-bottom: 11px;
    display: flex;
    white-space: nowrap;
    transition: 444ms;
}

.order-list-blocks-4 {
    width: 1100px;
    height: 43px;
    margin-left: 120px;
    background: #4b0b7a;
    border-radius: 4px;
    margin-bottom: 11px;
    display: flex;
    white-space: nowrap;
    border-right: 3px solid #83ff00;
    transition: 444ms;
}

.order-list-blocks-4:hover {
    width: 1100px;
    height: 43px;
    margin-left: 120px;
    background: #4b0b7a;
    border-radius: 4px;
    margin-bottom: 11px;
    display: flex;
    white-space: nowrap;
    transition: 444ms;
}

.order-list-blocks-5 {
    width: 1100px;
    height: 43px;
    margin-left: 120px;
    background: #4b0b7a;
    border-radius: 4px;
    margin-bottom: 11px;
    display: flex;
    white-space: nowrap;
    border-right: 3px solid #ff8300;
    transition: 444ms;
}

.order-list-blocks-5:hover {
    width: 1100px;
    height: 43px;
    margin-left: 120px;
    background: #4b0b7a;
    border-radius: 4px;
    margin-bottom: 11px;
    display: flex;
    white-space: nowrap;
    transition: 444ms;
}


.order-list-block {
    display: flex;
}

.order-list-block-2:hover .order-list-block-modal {
    opacity: 1;
}

.order-list-block-modal {
    position: absolute;
    width: 200px;
    background: #5b009c;
    margin-top: 30px;
    border-radius: 7px;
    text-align: center;
    opacity: 0;
}

.order-list-block-modal span p {
    color: #ffffff;
    border-bottom: 1px solid rgb(75 11 122);
    padding-bottom: 10px;
    margin-top: 10px;
}

.order-list-block p {
    font-size: 13px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 15px;
    color: #d8bdec;
    text-transform: uppercase;
    font-family: 'gadugi';
    font-weight: 400;
    border-right: 1px solid #35005f;
    height: 17px;
    margin-top: 13px;
}

.order-list-block-2 p {
    font-size: 13px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 15px;
    color: #d8bdec;
    text-transform: uppercase;
    font-family: 'gadugi';
    font-weight: 400;
    border-right: 1px solid #35005f;
    height: 17px;
    margin-top: 13px;
}

#take-btn {
    width: 125px;
    height: 34px;
    margin-top: 4px;
    margin-left: 964px;
    font-size: 12px;
    background: #3e0669;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 1px solid #50008e;
    color: #ffa083;
    cursor: pointer;
    transition: 444ms;
    position: absolute;
}

#take-btn:hover {
    width: 125px;
    height: 34px;
    margin-top: 4px;
    margin-left: 963px;
    font-size: 12px;
    background: #480879;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 1px solid #50008e;
    color: #83dbff;
    cursor: pointer;
    transition: 444ms;
    position: absolute;
}

.order-pads {
    margin-left: 120px;
    display: flex;
}

.order-pad-home {
    text-align: center;
    display: flex;
    height: 40px;
    background: #410073;
    border-radius: 7px;
    margin-right: 15px;
    border: solid 1px #50008e;
    cursor: pointer;
    transition: 444ms;
}

.order-pad-home:hover {
    text-align: center;
    display: flex;
    height: 40px;
    background: #4b0085;
    border-radius: 7px;
    margin-right: 15px;
    border: solid 1px #50008e;
    cursor: pointer;
    transition: 444ms;
}

.order-pad-home a {
    font-size: 13px;
    padding-left: 12px;
    padding-right: 18px;
    line-height: 15px;
    color: #b44eff;
    font-family: 'gadugi';
    font-weight: 400;
    margin-top: 12px;
}

.order-pad-home-img {
    width: 32px;
    height: 29px;
    pointer-events: none;
    margin-top: 6px;
    margin-right: 11px;
}

/* Order List - End */

/* Loyalty Program - Start */

.loyalprogram {
    width: 100%;
}

.loyalprogram-title {
    width: 950px;
    margin-left: 120px;
    display: flex;
    border-bottom: solid 1px #530d86;
    padding-bottom: 15px;
    margin-top: 90px;
}

.loyalprogram-title-ico {
    margin-right: 15px;
    width: 32px;
    height: 30px;
}

.loyalprogram-title h1 {
    color: white;
    font-family: 'gadugi';
    font-weight: 400;
}

.loyalprogram-blocks {
    margin-top: 40px;
    margin-right: 40px;
}

.loyalprogram-blocks-aling {
    margin-left: 120px;
    display: flex;
    padding-bottom: 170px;
}

.loyalprogram-block {
    text-align: center;
    padding-bottom: 12px;
    border-left: solid 1px #430073;
    padding-left: 10px;
}

.loyalprogram-block h2 {
    border-bottom: 1px solid #a226ff;
    width: 130px;
    margin-left: 17px;
    padding-bottom: 11px;
    color: white;
    font-family: 'gadugi';
    font-weight: 400;
}

.loyalprogram-block p {
    color: white;
    font-family: 'gadugi';
    font-weight: 400;
}

.loyalprogram-block-text {
    margin-top: 10px;
    text-align: center;
    margin-top: 6px;
}

.loyalprogram-block-text h2 {
    margin-top: 6px;
    color: white;
    font-family: 'gadugi';
    font-weight: 600;
}

.loyalprogram-block-text p {
    color: #d2d2d2;
    font-family: 'gadugi';
    font-weight: 400;
}

.loyalprogram-block-pic {
    pointer-events: none;
}

.screen-shot {
    width: 12px;
    height: 12px;
    background: #e0c4f5;
    margin-top: 15px;
    margin-left: 14px;
    border-radius: 2px;
}

.active-h2 {
    color: #ffc919!important;
}

/* Loyalty Program - End */



/* Show Detail - Start */

.show-details-aling {
    display: flex;
}

.show-details {
    width: 1103px;
    height: 673px;
    background: #420c6a;
    margin-left: 120px;
    margin-bottom: 21px;
    padding-top: 33px;
    border-radius: 0px 0px 9px 9px;
}

.order-list-blocks-detail {
    width: 1100px;
    height: 43px;
    margin-left: 120px;
    background: #4b0b7a;
    border-radius: 4px;
    display: flex;
    white-space: nowrap;
    border-right: 3px solid #ff8300;
    transition: 444ms;
}

#broke-btn {
    width: 125px;
    height: 34px;
    margin-top: 4px;
    margin-left: 964px;
    font-size: 12px;
    background: #3f0c67;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 1px solid #50008e;
    color: #ff4d4d;
    cursor: pointer;
    transition: 444ms;
    position: absolute;
}

#broke-btn:hover {
    width: 125px;
    height: 34px;
    margin-top: 4px;
    margin-left: 963px;
    font-size: 12px;
    background: #480879;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 1px solid #f83c3c;
    color: #ff4d4d;
    cursor: pointer;
    transition: 444ms;
    position: absolute;
}

#chat-bg {
    width: 790px;
    height: 343px;
    background: #520c86;
    border-radius: 8px 8px 0px 0px;
    margin-left: 27px;
    padding-top: 39px;
    box-shadow: 0px 5px 9px 0px #0000001a;
    overflow-y: auto;
}

.input-chat {
    width: 690px;
    height: 42px;
    position: relative;
    margin-left: 27px;
}

.input-chat input {
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 0px 0px 3px 3px;
    font-size: 14px;
    background: #6b0bb2;
    padding: 0 80px 0 20px;
    color: #ffffff;
}

.input-chat input::placeholder {
    color: #4c1476;
    font-size: 14px;
    font-family: 'gadugi';
    
}

#send-chat {
    position: absolute;
    right: -76px;
    top: 50%;
    height: 25px;
    width: 59px;
    opacity: 1;
    font-size: 13px;
    border-radius: 5px;
    transform: translateY(-50%);
    transition: 444ms;
    outline: none;
    background: #560890;
    cursor: pointer;
    color: #ffffff;
    font-family: 'gadugi';
    cursor: pointer;
    padding: -4px;
}

#send-chat:hover {
    position: absolute;
    right: -76px;
    top: 50%;
    height: 25px;
    width: 59px;
    opacity: 1;
    font-size: 13px;
    border-radius: 5px;
    transform: translateY(-50%);
    transition: 444ms;
    outline: none;
    background: #52098a;
    cursor: pointer;
    color: #ffffff;
    font-family: 'gadugi';
    cursor: pointer;
}

.chat-msg-toyou {
    max-width: 390px;
    background: #6b0bb2;
    margin-left: 25px;
    border-radius: 4px;
    border-left: 3px solid #ffac74;
    margin-bottom: 10px;
}

.chat-msg-toyou p {
    padding-top: 7px;
    padding-left: 14px;
    padding-bottom: 7px;
    color: #ffffff;
}

.chat-msg-you {
    max-width: 390px;
    background: #6b0bb2;
    margin-left: 377px;
    border-radius: 4px;
    margin-bottom: 10px;
    border-right: 3px solid #83dbff;
}

.chat-msg-you p {
    padding-top: 7px;
    padding-left: 14px;
    padding-bottom: 7px;
    color: #ffffff;
}

.dit-avatar {
    margin-left: 98px;
}

.dit-avatar-prof {
    width: 72px;
    height: 70px;
    background: #6b20a2;
    border-radius: 46px;
    box-shadow: -1px 11px 15px 1px #0000003b;
    text-align: center;
    margin-left: 24px;
}

.dit-avatar-name {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(105 0 167 / 49%);
}

.dit-avatar-name h3 {
    font-family: 'gadugi';
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
}

.dit-avatar-name p {
    font-family: 'gadugi';
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 12px;
}

.what-game {
    width: 120px;
    margin-top: 10px;
    background: #530c86;
    border-radius: 2px;
}

.what-game p {
    font-family: 'gadugi';
    font-size: 15px;
    color: #ffffff;
    margin-left: 17px;
}

.dit-progress-bar {
    margin-top: 20px;
    display: flex;
}

.active-dit-pg-bar {
    color: #ff6e19!important;
    font-weight: 600;
}

.active-dit-pg-span {
    color: #f5a6ff!important;
    font-weight: 400;
}

.dit-pg-bar {
    width: 200px;
    text-align: center;
    border-right: 1px solid #380061;
    margin-right: 10px;
}

.dit-pg-bar p {
    font-family: 'gadugi';
    font-size: 15px;
    color: #ffffff;
}

.dit-progress-ico {
    pointer-events: none;
}

.input-details {
    width: 150px;
    height: 42px;
    position: absolute;
    margin-top: 13px;
}

.input-details input {
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    background: #6b0bb2;
    padding: 0 80px 0 20px;
    color: #ffffff;
}

.input-details input::placeholder {
    color: #4c1476;
    font-size: 14px;
    font-family: 'gadugi';
    
}

.order-btn-aling {
    margin-top: 91px;
    margin-left: 11px;
}

#save-progress {
    position: absolute;
    right: -90px;
    top: 50%;
    height: 28px;
    width: 59px;
    opacity: 1;
    font-size: 13px;
    border-radius: 5px;
    transform: translateY(-50%);
    transition: 444ms;
    outline: none;
    background: #560890;
    cursor: pointer;
    color: #d8a3ff;
    font-family: 'gadugi';
    border: 2px solid #560890;
}

#save-progress:hover {
    position: absolute;
    right: -90px;
    top: 50%;
    height: 28px;
    width: 59px;
    opacity: 1;
    font-size: 13px;
    border-radius: 5px;
    transform: translateY(-50%);
    transition: 444ms;
    outline: none;
    background: #5e0a9e;
    cursor: pointer;
    color: #d8a3ff;
    font-family: 'gadugi';
    border: 1px solid rgb(255, 128, 70);
}

#end-work {
    height: 35px;
    width: 100px;
    font-size: 13px;
    border-radius: 5px;
    transition: 444ms;
    outline: none;
    background: #3891ff;
    cursor: pointer;
    color: #ffffff;
    font-family: 'gadugi';
    border: 2px solid #35adeb;
}

#end-work:hover {
    height: 35px;
    width: 100px;
    font-size: 13px;
    border-radius: 5px;
    transition: 444ms;
    outline: none;
    background: #ff7c3f;
    cursor: pointer;
    color: #ffffff;
    font-family: 'gadugi';
    border: 2px solid #fd9d42;
}

/* Show Detail - End */


/* Game Slide - Start */

.gameslide-aling {
    margin-top: 100px;
    margin-left: 240px;
}

.gameslide-block {
    width: 1442px;
    height: 382px;
    background: #410073;
    border-radius: 22px;
}

.create-order-bg {
    width: 1000px;
    height: 705px;
    background: #3f036a;
    border-radius: 22px;
    margin-left: 450px;
    margin-top: 50px;
}

.create-order-title {
    text-align: left;
    margin-left: 200px;
    padding-top: 40px;
    border-bottom: 1px solid #5d1194;
    padding-bottom: 13px;
    width: 500px;
}

.create-order-title p {
    font-size: 13px;
    color: #ffffff;
    font-family: 'gadugi';
}

.create-order-title h1 {
    font-size: 26px;
    color: #ffffff;
    font-family: 'gadugi';
    text-transform: uppercase;
}




.filter {
	font-family: "Exo 2 Condensed", sans-serif;
	font-weight: 600;
	font-size: 0.75rem;
	text-transform: uppercase;
	color: #535353;
	max-width: 262px;
	margin: 0 auto 40px;
	position: relative;
	z-index: 40; }
	.filter__block {
	  margin-bottom: 25px; }
	  .filter__block--slider {
		padding-left: 13px;
		padding-right: 13px; }
		.filter__block--slider .filter__head {
		  margin-left: -13px;
		  margin-right: -13px; }
	  .filter__block--category {
		margin-bottom: 10px; }
	.filter__head {
	  background: #f9fafa;
	  color: #535353;
	  padding: 0 13px;
	  line-height: 40px;
	  height: 40px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  margin-bottom: 10px;
	  font-size: 0.875rem; }
	  .filter__head--category {
		background: none;
		padding-top: 0;
		padding-bottom: 0;
		color: #ae9f3d;
		height: auto;
		line-height: inherit;
		margin-bottom: 5px; }
	.filter__row {
	  font-weight: 600;
	  display: block;
	  cursor: pointer;
	  padding: 5px 55px 5px 35px;
	  position: relative;
	  margin: 0;
	  line-height: 1.3; }
	  .filter__row input[type=checkbox] {
		display: none; }
		.filter__row input[type=checkbox]:checked ~ .checkbox::after {
		  color: #c6bd83;
		  content: "\f374"; }
		.filter__row input[type=checkbox]:checked ~ .label {
		  color: #ae9f3d; }
		.filter__row input[type=checkbox]:checked ~ .sup {
		  color: #ae9f3d; }
		.filter__row input[type=checkbox]:disabled ~ .checkbox::after {
		  content: "\f372"; }
		.filter__row input[type=checkbox]:disabled ~ .label {
		  color: #bcbcbc;
		  text-decoration: line-through; }
		.filter__row input[type=checkbox]:disabled ~ .sup {
		  color: #bcbcbc; }
	  .filter__row .checkbox {
		height: 12px;
		width: 12px;
		position: absolute;
		display: block;
		margin: 0;
		left: 13px;
		top: 7px; }
		.filter__row .checkbox::after {
		  font-family: "Ionicons";
		  content: "\f372";
		  position: absolute;
		  font-size: 1.0625rem;
		  left: 50%;
		  top: 50%;
		  transform: translate(-50%, -50%);
		  color: #a0a0a0;
		  font-weight: 400; }
	  .filter__row .sup {
		position: absolute;
		width: 50px;
		text-align: left;
		right: 0;
		top: 6px; }
	  .filter__row:hover .label {
		color: #ae9f3d; }
	  .filter__row.unactive {
		cursor: default; }
	  .filter__row--nosup .sup {
		opacity: 0; }
	  .filter__row--color .sup {
		border: 1px solid #f0f0f0;
		height: 14px !important;
		width: 14px !important;
		border-radius: 2px;
		overflow: hidden;
		right: 21px; }
	.filter__body {
	  padding: 0;
	  background: #ffffff; }
	  .filter__body button + button {
		margin-top: 15px; }
	.filter__button {
	  display: block;
	  width: 100%;
	  text-align: left;
	  position: relative;
	  color: #535353;
	  background: #f9fafa;
	  text-transform: uppercase;
	  height: 40px;
	  line-height: 38px;
	  border: 0;
	  padding-left: 15px;
	  font-family: "Exo 2 Condensed", sans-serif;
	  font-weight: 600;
	  font-size: 0.875rem;
	  cursor: pointer;
	  margin: 0; }
	  .filter__button i {
		position: absolute;
		right: 10px;
		font-size: 0.875rem;
		top: 50%;
		transform: translateY(-50%) rotate(180deg);
		transform-origin: 50% 50%;
		transition: transform 0.35s; }
	.filter.is-active .filter__button i {
	  transform: translateY(-50%) rotate(0deg); }
	.filter__cost {
	  font-size: 0.75rem;
	  font-family: "Exo 2 Condensed", sans-serif; }
	  .filter__cost .table-cell {
		display: contents; }
		.filter__cost .table-cell + .table-cell {
		  padding-left: 2px; }
	  .filter__cost input {
        width: 74px;
        background: #4a017f;
        text-align: center;
        font-weight: 600;
        color: #ffffff;
        padding: 0;
        font-family: "Exo 2 Condensed", sans-serif;
        font-size: 0.75rem;
        height: 30px;
        line-height: 28px;
        border-radius: 4px;
        margin-right: 327px;}
	.filter__slider {
	  padding-bottom: 35px;
	  padding-top: 10px; }
	.filter__more {
	  width: 100%;
	  text-align: center;
	  border-top: 1px solid #eaeaea;
	  text-transform: none;
	  font-weight: 400;
	  margin-top: -20px;
	  margin-bottom: 25px; }
	  .filter__more a {
		text-decoration: none; }
	.filter__category {
	  margin-bottom: 25px; }

      .filter__range {
          margin-left: 20px;
      }
  
.calt-aling {
    width: 500px;
    margin-left: 195px;
    margin-top: 50px;
}

.price-range-min .value {
    padding-top: 150px;
    opacity: 0;
}

.table-title {
    display: flex;
    margin: 0px 0px -28px 0px;
}

.table-aling {
    margin-left: 12px;
    display: flex;
}

.table-text-1 {
    margin-left: 20px;
    margin-right: 220px;
}

.table-text-1 p {
    font-size: 12px;
    color: #ffffff;
    font-family: 'gadugi';
}

.table-text-2 {
    margin-left: 116px;
}

.table-text-2 p {
    font-size: 12px;
    color: #ffffff;
    font-family: 'gadugi';
}

.shield-ico {
    width: 92px;
    height: 59px;
    margin-left: -83px;
}

.create-order-full {
    margin-left: 60px;
}

.order-check-box {
    margin-left: 210px;
}

.checkbox-aling {
    padding-top: 10px;
    display: flex;
}

.checkbox-aling-2 {
    padding-top: 2px;
    display: flex;
}

.checkbox-aling input {
    margin-top: 8px;
}

.checkbox-aling label {
    margin-right: 38px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'gadugi';
}

.checkbox-aling-2 label {
    margin-right: 38px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'gadugi';
}


  /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #2d004e;
    border-radius: 4px;
    margin-top: 3px;
}
  
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #3b0363;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #ff9c3c;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.order-check-box-aling p {
    color: #ffffff;
    font-family: 'gadugi';
    font-size: 14px;
}

.create-order-pads {
    margin-left: 210px;
    border-top: 1px solid #5d1194;
    width: 400px;
    margin-top: 40px;
    display: flex;
}

#buy-ord-btn {
    width: 125px;
    height: 36px;
    margin-top: 25px;
    font-size: 12px;
    background: #410073;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 2px solid #50008e;
    color: #ffbb83;
    cursor: pointer;
    transition: 444ms;
}

#buy-ord-btn:hover {
    width: 125px;
    height: 36px;
    margin-top: 25px;
    font-size: 12px;
    background: #4c0086;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 2px solid #ff8d30;
    color: #ffbb83;
    cursor: pointer;
    transition: 444ms;
}

.how-much {
    width: 80px;
    height: 32px;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 12px;
    background: #410073;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 2px solid #ff8b6b;
    color: #ffbb83;
    transition: 444ms;
    text-align: center;
}

.how-much p {
    color: #ffae5b;
    font-family: 'gadugi';
    font-size: 14px;
    line-height: 31px;
}

.how-much-2 {
    height: 32px;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 12px;
    background: #410073;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 2px solid #ffac74;
    color: #ffbb83;
    transition: 444ms;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.how-much-2 p {
    color: #ffae5b;
    font-family: 'gadugi';
    font-size: 14px;
    line-height: 31px;
}

.game-large {
    margin-left: 175px;
    margin-top: -10px;
}

.review-details-aling {
    display: flex;
    margin-left: 20px;
}

.review-details {
    margin-left: 443px;
    margin-top: 129px;
}

.review-details h2 {
    color: #ffffff;
    font-family: 'gadugi';
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 21px;
}

.comm-block-2 {
    margin-top: 15px;
    width: 300px;
    height: 100px;
    border-radius: 14px;
    background: #530d86;
    display: flex;
    margin-right: 40px;
}

.more-comm2 {
    margin-top: 15px;
    margin-left: 21px;
    background: #530d86;
    border-radius: 6px;
    width: 121px;
    height: 35px;
    color: #ffffff;
    font-size: 14px;
    transition: 444ms;
    cursor: pointer;
    font-family: 'gadugi';
    font-weight: 400;
    border: solid 1px #7b13c7;
}

.more-comm2:hover {
    margin-top: 15px;
    margin-left: 21px;
    background: #63119e;
    border-radius: 6px;
    width: 121px;
    height: 35px;
    color: #ffffff;
    font-size: 14px;
    transition: 444ms;
    cursor: pointer;
    font-family: 'gadugi';
    font-weight: 400;
    border: solid 1px #7b13c7;
}

.step-by-step {
    width: 1000px;
    border-top: 1px solid red;
    padding-top: 30px;
    margin-left: 460px;
    margin-top: 100px;
}

.step-by-step-blocks {
    width: 400px;
}

.step-by-step-block {
    display: flex;
}

.step-by-step-block p {
    color: #ffffff;
    font-size: 14px;
    font-family: 'gadugi';
    margin-left: 5px;
    margin-top: 2px;
}

.step-by-step-blocks p {
    color: #ffffff;
    font-size: 14px;
    font-family: 'gadugi';
    margin-left: 5px;
    line-height: 22px;
    margin-top: 4px;
}

.step-by-step-ico {
    width: 26px;
    height: 26px;
}

.step-by-step-flex {
    display: flex;
    margin-bottom: 40px;
}

/* game-service start */

.game-service-block {
    width: 455px;
    height: 285px;
    background: #3f036a;
    border-radius: 23px;
    margin-right: 40px;
}

.game-service-block-aling {
    margin-left: 241px;
    display: flex;
    margin-top: 36px;
    margin-bottom: 80px;
    width: 1485px;
}

.game-service-block-line {
    width: 1000px;
    height: 1px;
    margin-left: 453px;
}

.create-order-pads-2 {
    border-top: 1px solid #5d1194;
    width: 400px;
    margin-top: 35px;
    display: flex;
    margin-left: 27px;
}

#buy-ord-btn-2 {
    width: 125px;
    height: 36px;
    margin-top: 25px;
    font-size: 12px;
    background: #410073;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 2px solid #50008e;
    color: #ffbb83;
    cursor: pointer;
    transition: 444ms;
}

#buy-ord-btn-2:hover {
    width: 125px;
    height: 36px;
    margin-top: 25px;
    font-size: 12px;
    background: #4c0086;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 2px solid #72ff70;
    color: #72ff70;
    cursor: pointer;
    transition: 444ms;
}

.how-much-2 {
    height: 32px;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 12px;
    background: #410073;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 2px solid #ff8b6b;
    color: #ffbb83;
    transition: 444ms;
    text-align: center;
}

.how-much-2 p {
    color: #ffae5b;
    font-family: 'gadugi';
    font-size: 14px;
    line-height: 31px;
}

.game-service-txt-1 {
    width: 400px;
    margin-left: 20px;
    border-bottom: 1px solid #6b20a2;
    padding-bottom: 20px;
}

.game-service-txt-1 p {
    color: #ffffff;
    font-family: 'gadugi';
    font-size: 14px;
}

.game-service-txt-1 h1 {
    color: #ffffff;
    font-family: 'gadugi';
    font-size: 19px;
    line-height: 21px;
}

.game-service-txt-3 {
    width: 400px;
    margin-left: 20px;
    border-bottom: 1px solid rgb(105 0 167 / 35%);
    padding-bottom: 20px;
}

.game-service-txt-3 p {
    color: #ffffff;
    font-family: 'gadugi';
    font-size: 14px;
}

.game-service-txt-3 h1 {
    color: #ffffff;
    font-family: 'gadugi';
    font-size: 19px;
    line-height: 21px;
}

.game-service-txt-2 {
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
}

.game-service-txt-2 p {
    color: #ffffff;
    font-family: 'gadugi';
    font-size: 13px;
    line-height: 21px;
}

.game-service-img {
    margin-top: 40px;
    margin-left: 397px;
    position: absolute;
}

.review-details-al {
    margin-bottom: 100px;
}

.create-order-pads-3 {
    border-top: 1px solid #5d1194;
    width: 400px;
    margin-top: 35px;
    display: flex;
    margin-left: 27px;
}

#buy-ord-btn-3 {
    width: 125px;
    height: 36px;
    margin-top: 25px;
    font-size: 12px;
    background: #410073;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 2px solid #50008e;
    color: #83e6ff;
    cursor: pointer;
    transition: 444ms;
}

#buy-ord-btn-3:hover {
    width: 125px;
    height: 36px;
    margin-top: 25px;
    font-size: 12px;
    background: #4c0086;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 2px solid #83c3ff;
    color: #83c3ff;
    cursor: pointer;
    transition: 444ms;
}

.how-much-3 {
    height: 32px;
    margin-top: 25px;
    margin-left: 20px;
    background: #410073;
    border-radius: 7px;
    font-family: 'gadugi';
    border: 2px solid #50008e;
    color: #ffbb83;
    transition: 444ms;
    text-align: center;
}

.how-much-3 p {
    color: #ffbb75;;
    font-family: 'gadugi';
    font-size: 14px;
    padding-left: 8px;
    line-height: 31px;
    padding-right: 8px;
}

.loyalprogram-solo-aling {
    margin-left: 387px;
}

.loyalprogram-blocks-aling-2 {
    margin-left: 19px;
    display: flex;
    padding-bottom: 100px;
    margin-top: 24px;
}

.loyalprogram-block-2 {
    text-align: center;
    padding-bottom: 12px;
    border-left: solid 1px #430073;
    padding-left: 26px;
    padding-right: 26px;
}

.loyalprogram-block-2 h2 {
    border-bottom: 1px solid #a226ff;
    width: 130px;
    margin-left: 17px;
    padding-bottom: 11px;
    color: white;
    font-family: 'gadugi';
    font-weight: 400;
}

.loyalprogram-block-2 p {
    color: white;
    font-family: 'gadugi';
    font-weight: 400;
}

.loyalprogram-text {
    width: 1000px;
    margin-left: 464px;
    text-align: center;
    margin-bottom: 120px;
}

.loyalprogram-text p {
    font-size: 12px;
    color: white;
    font-family: 'gadugi';
    line-height: 21px;
}

/* how it work */

.s-b-s-active {
    border: none!important; 
    margin-top: 50px!important;
    margin-left: 402px!important;
    width: 1200px!important;
}
.s-b-s-active-2 {
    border: none!important; 
    margin-top: 50px!important;
    margin-left: 412px!important;
    width: 1200px!important;
}

.f-t-2-active {
    margin-top: 120px!important;
}

.home-img-bg {
    position: absolute;
    margin-top: 1424px;
    pointer-events: none;
}


.join-aling {
    width: 100px;
    height: 0px;
    margin-left: 10px;
    position: fixed;
}

.join-aling p {
    line-height: 3;
    color: #ffffff;
    font-size: 16px;
    font-family: 'gadugi';
}

.b-home {
    margin-left: 109px;
    margin-top: 7px;
}

.b-home a {
    color: #c5c5c5;
    font-size: 13px;
    font-family: 'gadugi';
}