@font-face {
    font-family: 'Gadugi';
    src: url('/assets/fonts/Gadugi.eot');
    src: url('/assets/fonts/Gadugi.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Gadugi.woff2') format('woff2'),
        url('/assets/fonts/Gadugi.woff') format('woff'),
        url('/assets/fonts/Gadugi.svg#Gadugi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gadugi';
    src: url('/assets/fonts/Gadugi-Bold.eot');
    src: url('/assets/fonts/Gadugi-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Gadugi-Bold.woff2') format('woff2'),
        url('/assets/fonts/Gadugi-Bold.woff') format('woff'),
        url('/assets/fonts/Gadugi-Bold.svg#Gadugi-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

